{{ $video := .Resources.GetMatch "cover.mp4" }}
{{ $cover := .Resources.GetMatch "cover.webp" }}
{{ $image := $cover }}
{{ if not $image }}
  {{ $images := .Resources.ByType "image" }}
  {{ if $images }}
    {{ $image = index $images 0 }}
  {{ end }}
{{ end }}

{{ if $video }}
  <video src="{{ $video.RelPermalink }}" class="cover aspect-3/2 w-full object-cover object-top sm:aspect-16/9 lg:aspect-21/9" autoplay muted loop controls playsinline></video>
{{ else if $image }}
  <img src="{{ $image.RelPermalink }}" class="cover aspect-3/2 w-full object-cover object-top sm:aspect-16/9 lg:aspect-21/9" fetchpriority="high" loading="eager" />
{{ else if and (ne .Kind "section") (ne .Kind "home") }}
  <img src="/images/placeholder.svg" class="cover aspect-3/2 w-full bg-gray-300 object-contain p-32 sm:aspect-16/9 lg:aspect-21/9" />
{{ end }}
