<div class="gallery mt-4 grid grid-cols-3 gap-4 md:grid-cols-4">
  {{ range $.Resources }}
    {{ if and (eq .ResourceType "image") (not (hasPrefix .Name "cover.")) }}
      <figure class="relative">
        <a href="{{ .RelPermalink }}" data-fslightbox="gallery" class="block aspect-3/2">
          <img src="{{ .RelPermalink }}" alt="{{ .Name }}" loading="lazy" class="size-full object-cover" />
        </a>
        {{ with .Params.Caption }}
          <figcaption class="absolute bottom-0 w-full bg-gray-300 p-2">{{ . | safeHTML }}</figcaption>
        {{ end }}
      </figure>
    {{ end }}
  {{ end }}
</div>
