<div class="content pb-4!">
  <table class="w-full table-fixed border-collapse">
    {{ $lb := now.UnixNano }}

    {{ range . }}
      <tr class="border-b border-gray-300 align-top leading-8 last:border-0">
        <td class="">{{ .time }}</td>
        <td class="font-medium">
          {{ if .image }}
            {{ $id := now.UnixNano }}
            <a href="#s{{ $id }}" data-fslightbox="s{{ $lb }}" class="text-red-700!">
              {{ .name }}
            </a>

            <div id="s{{ $id }}" class="hidden max-w-md">
              <div class="mx-4 flex flex-col bg-white">
                <img src="/images/chronik/{{ .image }}" alt="{{ .name }}" />

                <div class="p-4">
                  <div class="mb-2">
                    <p class="font-semibold">{{ .name }}</p>
                    <p>{{ .time }}</p>
                  </div>

                  {{ if .text }}
                    <ul class="list-disc border-t border-gray-300 px-4 pt-2">
                      {{ range .text }}
                        <li class="text-sm">{{ . }}</li>
                      {{ end }}
                    </ul>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ else }}
            {{ .name }}
          {{ end }}
        </td>
        <td class="hidden lg:block">
          {{ if .text }}
            <ul class="list-disc py-2">
              {{ range .text }}
                <li class="text-sm">{{ . }}</li>
              {{ end }}
            </ul>
          {{ end }}
        </td>
      </tr>
    {{ end }}
  </table>
</div>
