<nav class="sticky top-0 z-10 bg-red-700">
  <div class="relative md:hidden">
    <div class="flex items-center justify-between">
      {{ $firstSegment := index (split .RelPermalink "/") 1 }}
      {{ $currentYear := now.Year }}
      <ul class="flex divide-x divide-red-800 text-white">
        <li>
          <a href="/" class="block p-5">Startseite</a>
        </li>
        <li class="{{ if findRE "20[0-9][0-9]" .RelPermalink }}bg-red-800{{ end }}">
          <a href="/posts/{{ $currentYear }}/" class="block p-5">Aktuelles</a>
        </li>
      </ul>
      <button class="block cursor-pointer border-l border-l-red-800 p-6">
        <span id="hamburger"></span>
      </button>
    </div>

    {{ partial "menu/mobile.html" . }}
  </div>

  <div class="hidden md:block">
    {{ partial "menu/desktop.html" . }}
  </div>
</nav>
