<div>
  <div class="flex gap-16">
    <div>
      <div id="counter-posts" class="text-3xl font-bold text-gray-700 lg:text-4xl">
        {{ site.Data.stats.posts }}
      </div>
      <div class="text-sm text-gray-800 lg:text-base">Beiträge</div>
    </div>

    <div>
      <div id="counter-images" class="text-3xl font-bold text-gray-700 lg:text-4xl">
        {{ site.Data.stats.images }}
      </div>
      <div class="text-sm text-gray-800 lg:text-base">Bilder</div>
    </div>
  </div>
</div>

<style>
  @property --posts {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  #counter-posts {
    animation: counter-posts 10s forwards ease-in-out;
    counter-reset: posts var(--posts);
    position: relative;
  }

  #counter-posts::after {
    content: counter(posts);
    background: var(--color-gray-100);
    position: absolute;
    width: 100%;
    left: 0;
  }

  @keyframes counter-posts {
    from {
      --posts: 0;
    }
    to {
      --posts:  {{ site.Data.stats.posts }};
    }
  }

  @property --images {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
  }

  #counter-images {
    animation: counter-images 10s forwards ease-in-out;
    counter-reset: images var(--images);
    position: relative;
  }

  #counter-images::after {
    content: counter(images);
    background: var(--color-gray-100);
    position: absolute;
    width: 100%;
    left: 0;
  }

  @keyframes counter-images {
    from {
      --images: 0;
    }
    to {
      --images:  {{ site.Data.stats.images }};
    }
  }

  .hide-after::after {
    display: none !important;
  }
</style>

<script>
  (function () {
    var isSafari = /^((?!chrome|android).)*safari/i.test(navigator.userAgent);
    if (isSafari) {
      document.getElementById("counter-posts")?.classList.add("hide-after");
      document.getElementById("counter-images")?.classList.add("hide-after");
    }
  })();
</script>
