{{ $posts := where site.RegularPages ".Params.date" "!=" nil }}

{{/* Sort by date descending */}}
{{ $posts = $posts.ByDate.Reverse }}

{{/* Limit if specified */}}
{{ if .limit }}
  {{ $posts = first .limit $posts }}
{{ end }}


<div class="swiper mb-4 w-full">
  <div class="swiper-wrapper max-sm:flex-col max-sm:gap-4">
    {{ range $index, $post := $posts }}
      <div class="swiper-slide max-sm:nth-[n+4]:hidden!">
        {{ $fadeInClass := "" }}
        {{ if eq $index 0 }}
          {{ $fadeInClass = "fade-in delay-100" }}
        {{ else if eq $index 1 }}
          {{ $fadeInClass = "fade-in delay-200" }}
        {{ else if eq $index 2 }}
          {{ $fadeInClass = "fade-in delay-300" }}
        {{ end }}
        <a href="{{ $post.RelPermalink }}" class="{{ $fadeInClass }} block">
          <article class="relative overflow-hidden rounded select-none">
            {{ $cover := $post.Resources.GetMatch "cover.webp" }}
            {{ $image := $cover }}
            {{ if not $image }}
              {{ $images := $post.Resources.ByType "image" }}
              {{ if $images }}
                {{ $image = index $images 0 }}
              {{ end }}
            {{ end }}

            {{ if $image }}
              <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" class="aspect-3/2 object-cover object-top" loading="lazy" />
            {{ else }}
              <img src="/images/placeholder.svg" class="aspect-3/2 h-full w-full bg-gray-300 object-contain p-16 pb-32" />
            {{ end }}


            <div class="absolute inset-0 bg-gradient-to-t from-black to-transparent">
              <div class="absolute bottom-0 left-0 p-4">
                <span class="text-sm text-gray-300">
                  {{ .Date | time.Format ":date_full" }}
                </span>
                <h2 class="line-clamp-2 min-h-[2lh] text-xl font-medium text-white">{{ $post.Title }}</h2>
              </div>
            </div>
          </article>
        </a>
      </div>
    {{ end }}
  </div>

  <div class="swiper-button-prev pointer-events-auto! after:ml-4 after:p-8"></div>
  <div class="swiper-button-next pointer-events-auto! after:mr-4 after:p-8"></div>
</div>
