<div id="dropdown">
  {{ $currentPage := . }}


  <ul class="flex divide-x divide-red-800 text-white">
    {{ range site.Menus.main }}
      <li id="dropdown-{{ lower .Name }}" class="group {{ if $currentPage.HasMenuCurrent .Menu . }}active{{ end }}">
        {{ if .HasChildren }}
          {{ $firstchild := index (sort .Children ".Weight") 0 }}
          {{ $lastchild := index (sort .Children ".Weight") (sub (len .Children) 1) }}

          {{ if eq .Name "Aktuelles" }}
            <a href="{{ $lastchild.URL }}">{{ .Name }}</a>
          {{ else }}
            <a href="{{ $firstchild.URL }}">{{ .Name }}</a>
          {{ end }}
        {{ else }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}

        {{ $section := .Name }}

        {{ with .Children }}
          {{ $children := . }}

          {{ if eq $section "Aktuelles" }}
            {{ $children = .Reverse }}
          {{ end }}


          <div class="content">
            <div class="w-max">
              <ul class="grid divide-x divide-gray-400">
                {{ range $children }}
                  <li class="{{ if $currentPage.IsMenuCurrent .Menu . }}font-semibold{{ end }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        {{ end }}
      </li>
    {{ end }}
  </ul>
</div>
