<div id="menu">
  {{ $currentPage := . }}
  {{ range after 1 site.Menus.main }}
    <details id="details-{{ lower .Name }}" name="Navigation" {{ if $currentPage.HasMenuCurrent .Menu . }}open{{ end }}>
      <summary>{{ .Name }}</summary>

      {{ $section := .Name }}
      {{ with .Children }}
        {{ $children := . }}

        {{ if eq $section "Aktuelles" }}
          {{ $children = .Reverse }}
        {{ end }}


        <div class="content">
          <ul class="grid grid-flow-col-dense">
            {{ range $children }}
              <li class="{{ if $currentPage.IsMenuCurrent .Menu . }}font-semibold{{ end }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          </ul>
        </div>
      {{ end }}
    </details>
  {{ end }}
</div>
