{{ define "main" }}
  <div class="content grid grid-cols-2 gap-4 xl:grid-cols-3">
    {{ with .Resources.GetMatch "01_mannschaft-1927.webp" }}
      <figure>
        <a href="{{ .RelPermalink }}" data-fslightbox="gallery">
          <img src="{{ .RelPermalink }}" alt="Mannschaft 1927" />
        </a>
        <figcaption class="my-2">Mannschaft 1927</figcaption>
      </figure>
    {{ end }}

    {{ with .Resources.GetMatch "02_mannschaft-1979.webp" }}
      <figure>
        <a href="{{ .RelPermalink }}" data-fslightbox="gallery">
          <img src="{{ .RelPermalink }}" alt="Mannschaft 1979" />
        </a>
        <figcaption class="my-2">Mannschaft 1979</figcaption>
      </figure>
    {{ end }}

    {{ with .Resources.GetMatch "03_mannschaft-1997.webp" }}
      <figure>
        <a href="{{ .RelPermalink }}" data-fslightbox="gallery">
          <img src="{{ .RelPermalink }}" alt="Mannschaft 1997" />
        </a>
        <figcaption class="my-2">Mannschaft 1997</figcaption>
      </figure>
    {{ end }}

    {{ with .Resources.GetMatch "04_mannschaft-2012.webp" }}
      <figure>
        <a href="{{ .RelPermalink }}" data-fslightbox="gallery">
          <img src="{{ .RelPermalink }}" alt="Mannschaft 2012" />
        </a>
        <figcaption class="my-2">Mannschaft 2012</figcaption>
      </figure>
    {{ end }}

    {{ with .Resources.GetMatch "05_mannschaft-2019.webp" }}
      <figure>
        <a href="{{ .RelPermalink }}" data-fslightbox="gallery">
          <img src="{{ .RelPermalink }}" alt="Mannschaft 2019" />
        </a>
        <figcaption class="my-2">Mannschaft 2019</figcaption>
      </figure>
    {{ end }}

  </div>
{{ end }}
