@import "tailwindcss";
@plugin "@tailwindcss/forms";

@import "./page.css";

@import "swiper/css";
@import "swiper/css/navigation";

:root {
  --swiper-theme-color: white;
  --swiper-navigation-size: 3rem;
  --pagefind-ui-border-radius: 0 !important;
  --pagefind-ui-image-border-radius: 0 !important;
  --pagefind-ui-font: "Roboto", sans-serif !important;
}

@theme {
  --font-sans: "Roboto", sans-serif;
  --breakpoint-xs: 30rem;
  --breakpoint-xxl: 90rem;
}

@layer base {
  @supports (interpolate-size: allow-keywords) {
    :root {
      interpolate-size: allow-keywords;
    }

    details {
      transition: 0.3s all;
    }

    ::details-content {
      transition:
        height 0.3s ease,
        content-visibility 0.3s ease allow-discrete;
      height: 0;
      overflow: clip;
    }

    [open]::details-content {
      height: auto;
    }

    summary {
      @apply select-none;
    }
  }

  .page {
    @apply flex gap-4 p-4;

    & > :first-child:not(main) {
      @apply hidden w-1/3 shrink-0 grow-0 md:block;
    }

    nav a {
      @apply block py-1 text-blue-600;

      &:hover {
        @apply underline;
      }
    }
  }

  main {
    @apply w-full;

    details {
      @apply border-b border-gray-400;

      .content {
        @apply p-4 pb-0;
      }

      ul {
        @apply list-disc pb-4 pl-4;
      }
    }

    details:last-child {
      @apply border-b-0;
    }

    summary {
      @apply cursor-pointer bg-gray-300 p-4 text-xl font-semibold text-gray-600 select-none;
    }

    .content a:not([href^="#"]) {
      @apply text-red-700 underline;
    }
  }

  h1 {
    @apply mb-4 block border-b border-b-gray-300 py-2 text-3xl font-bold;
  }

  #post main {
    h2 {
      @apply my-4 block border-b border-b-gray-300 text-2xl font-bold;
    }

    h3 {
      @apply mt-4 block text-lg font-bold;
    }
  }

  article {
    p {
      @apply whitespace-pre-line;
    }
  }
}

@layer components {
  #hamburger {
    @apply relative my-[6px] select-none;

    &,
    &::before,
    &::after {
      @apply block h-[2px] w-5 bg-white transition-all duration-300;
    }

    &::before,
    &::after {
      @apply absolute content-[""];
    }

    &::before {
      @apply -top-[6px];
    }

    &::after {
      @apply top-[6px];
    }

    .open & {
      @apply bg-transparent;

      &::before {
        @apply translate-y-[6px] rotate-45;
      }

      &::after {
        @apply translate-y-[-6px] rotate-[-45deg];
      }
    }
  }

  #menu {
    @apply h-0 divide-y divide-gray-400 overflow-clip bg-gray-300 transition-all duration-300;

    &.open {
      @apply h-auto;
    }

    details[open] {
      @apply bg-gray-100;

      summary {
        @apply text-black;

        span {
          @apply block border-b border-gray-300 pb-2;
        }
      }

      summary::-webkit-details-marker {
        @apply hidden;
      }
    }

    summary {
      @apply cursor-pointer list-none p-4 text-xl font-semibold text-gray-600 select-none;
    }
    .content {
      @apply px-4 pb-4;
    }

    li a {
      @apply block py-1 text-lg;
    }

    #details-aktuelles ul {
      @apply grid-cols-4 grid-rows-5;
    }

    #details-mannschaft ul {
      @apply grid-cols-2;

      li:not(:nth-child(n + 5)) {
        @apply col-1;
      }

      li:nth-child(n + 5) {
        @apply col-2;
      }
    }

    #details-fahrzeuge ul {
      @apply grid-cols-2;

      li:nth-child(n + 2) {
        @apply col-2;
      }

      li:first-child,
      li:last-child {
        @apply col-1;
      }
    }

    #details-feuerwehrhalle ul {
      li:not(:nth-child(n + 6)) {
        @apply col-1;
      }

      li:nth-child(n + 6) {
        @apply col-2;
      }
    }

    #details-chronik ul {
      @apply grid-flow-dense!;
    }
  }

  #dropdown {
    .content {
      @apply absolute left-0 -z-10 mx-auto block w-full xl:left-auto xl:w-auto;

      & > div {
        @apply absolute hidden w-full bg-gray-300 group-hover:grid xl:w-auto;
      }
    }

    & > ul > li {
      &.active {
        @apply bg-red-800 text-white;
      }

      &:hover {
        @apply bg-gray-300 text-black;
      }

      & > a {
        @apply block p-4 font-medium;
      }
    }

    ul ul {
      @apply my-2 bg-gray-300 text-black;

      & a {
        @apply block px-4 py-2;

        &:hover {
          @apply underline;
        }
      }
    }

    #dropdown-aktuelles ul {
      @apply min-w-[40rem] grid-flow-col-dense grid-cols-4;

      li:nth-child(n + 6) {
        @apply col-2;
      }

      li:nth-child(n + 11) {
        @apply col-3;
      }

      li:nth-child(n + 16) {
        @apply col-4;
      }
    }

    #dropdown-mannschaft ul {
      @apply min-w-[40rem] grid-flow-col-dense grid-cols-3;

      li:nth-child(n + 5) {
        @apply col-2;
      }

      li:nth-child(n + 10) {
        @apply col-3;
      }
    }

    #dropdown-fahrzeuge ul {
      @apply min-w-[20rem];
    }

    #dropdown-feuerwehrhalle ul {
      @apply min-w-[30rem] grid-flow-col-dense grid-cols-2;

      li:nth-child(n + 6) {
        @apply col-2;
      }
    }
  }

  #footer {
    details a {
      @apply text-blue-800 underline hover:no-underline;
    }

    details summary::-webkit-details-marker {
      @apply hidden;
    }
  }
}
