{{ define "nav" }}
  <!-- no sidebar -->
{{ end }}

{{ define "main" }}
  {{ partial "posts" (dict "limit" 3) }}


  <div class="mb-4">
    <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
    <script src="/pagefind/pagefind-ui.js"></script>
    <div id="search"></div>
    <script>
      window.addEventListener("DOMContentLoaded", (event) => {
        new PagefindUI({
          element: "#search",
          showSubResults: false,
          translations: {
            placeholder: "Beitrag suchen...",
          },
          pageSize: 10,
        });
      });
    </script>
  </div>

  <div class="grid gap-4 lg:grid-cols-2">
    <div class="flex flex-col gap-4">
      <video controls playsinline class="aspect-video">
        <source src="/videos/ffwenns.mp4" type="video/mp4" />
      </video>

      <div class="bg-red-100 p-8 lg:p-12">
        <h2 class="mb-4 text-2xl text-red-700 lg:text-3xl">Feuerwehr verbindet Generationen</h2>

        <div class="content">
          {{ .Content }}
        </div>
      </div>

      <div class="order-first bg-gray-100 p-8 lg:p-12">
        <h2 class="mb-4 text-2xl text-gray-700 lg:text-3xl">Unsere Öffentlichkeitsarbeit</h2>
        {{ partial "stats" . }}
      </div>
    </div>

    <div class="bg-blue-100 p-8 lg:p-12">
      <h2 class="mb-4 text-2xl text-blue-800 lg:text-3xl">Aktuelle Termine</h2>
      {{ partial "events" . }}
    </div>
  </div>
{{ end }}
