{{ define "main" }}
  <div class="content">
    {{ .Content }}
  </div>

  {{ if .Params.members }}
    <div class="grid grid-cols-2 gap-4 xl:grid-cols-4">
      {{ range .Params.members }}
        {{ partial "member.html" . }}
      {{ end }}
    </div>
  {{ end }}

  {{ with .Params.kommandanten }}
    <details name="Kommando" open>
      <summary>Kommandanten</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.kommandant_stv }}
    <details name="Kommando">
      <summary>Kommandant Stv.</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.schriftfuehrer }}
    <details name="Kommando">
      <summary>Schriftführer</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.kassiere }}
    <details name="Kommando">
      <summary>Kassiere</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.ehrenmitglieder }}
    <details name="Kommando">
      <summary>Ehrenmitglieder</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.patinnen }}
    <details name="Kommando">
      <summary>Patinnen</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.obermaschinisten }}
    <details name="Kommando">
      <summary>Obermaschinisten</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.atemschutzbeauftragte }}
    <details name="Kommando">
      <summary>Atemschutzbeauftragte</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.geraetewarte }}
    <details name="Kommando">
      <summary>Gerätewarte</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ with .Params.jugendbetreuer }}
    <details name="Kommando">
      <summary>Jugendbetreuer</summary>
      {{ partial "history.html" . }}
    </details>
  {{ end }}

  {{ partial "gallery.html" . }}
{{ end }}
