{{ define "nav" }}
  <div>
    <nav class="sticky top-[72px] z-5 bg-blue-100 p-4">
      <h3 class="mb-4 text-2xl font-semibold text-blue-600">Aktuelles</h3>
      <ul>
        {{ $postsSection := site.GetPage "section" "posts" }}
        {{ range $postsSection.Sections.ByTitle.Reverse }}
          {{ $yearName := path.Base .File.Dir }}
          {{ $postCount := len .RegularPagesRecursive }}


          <li class="{{ if eq $.Page . }}font-bold bg-blue-200{{ end }} flex flex-row items-baseline  justify-between ">
            <a href="{{ .RelPermalink }}" class=" flex-grow text-xl">
              {{ $yearName }}
            </a>
            <span class="text-blue-600">{{ $postCount }} Beiträge</span>
          </li>
        {{ end }}
      </ul>
    </nav>
  </div>
{{ end }}

{{ define "main" }}
  {{ $data := partial "post/data.html" .Content }}


  <article data-pagefind-body>
    <div class="grid gap-4">
      <div>
        <div class="mb-4 text-gray-500">
          {{ .Date | time.Format ":date_full" }}
        </div>

        <div class="content">
          {{ $data.content | safeHTML }}
        </div>

        <div>
          {{- with $data.meta -}}
            <div class="bg-gray-100 p-4 text-gray-800">
              <h3 class="mt-0! mb-4 text-xl font-medium">{{ $data.headline }}</h3>
              <ul class="space-y-4">
                {{- range . -}}
                  {{- if eq .type "kv" -}}
                    <li class="mt-4">
                      <strong>{{ .key | safeHTML }}:</strong>
                      <div>{{ .value | safeHTML }}</div>
                    </li>
                  {{- else -}}
                    <li>{{ .value | safeHTML }}</li>
                  {{- end -}}
                {{- end -}}
              </ul>
            </div>
          {{- end -}}
        </div>

        {{ partial "gallery.html" . }}
      </div>
    </div>
  </article>
{{ end }}
