{{ define "main" }}
  <details name="Daten" open>
    <summary>Bilder</summary>
    <div class="pb-4">
      {{ partial "gallery.html" . }}
    </div>
  </details>

  <details name="Daten">
    <summary>Details</summary>
    <div class="content">
      <dl>
        {{ range $key, $value := .Params.details }}
          <dt class="font-semibold">{{ strings.FirstUpper $key }}</dt>
          <dd class="mb-2">{{ $value }}</dd>
        {{ end }}
      </dl>
    </div>
  </details>

  <details name="Daten">
    <summary>Beladung</summary>
    <div class="content">
      <ul>
        {{ range .Params.beladung }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
  </details>

  <details name="Daten">
    <summary>Aufgaben</summary>
    <div class="content">
      <ul>
        {{ range .Params.aufgaben }}
          <li>{{ . }}</li>
        {{ end }}
      </ul>
    </div>
  </details>
{{ end }}
