{{ define "main" }}
  <details name="Kommando" open>
    <summary>Kommandanten</summary>
    {{ partial "history.html" .Params.kommandanten }}
  </details>

  <details name="Kommando">
    <summary>Kommandant Stv.</summary>
    {{ partial "history.html" .Params.kommandant_stv }}
  </details>

  <details name="Kommando">
    <summary>Schriftführer</summary>
    {{ partial "history.html" .Params.schriftfuehrer }}
  </details>

  <details name="Kommando">
    <summary>Kassiere</summary>
    {{ partial "history.html" .Params.kassiere }}
  </details>

  <details name="Kommando">
    <summary>Ehrenmitglieder</summary>
    {{ partial "history.html" .Params.ehrenmitglieder }}
  </details>

  <details name="Kommando">
    <summary>Patinnen</summary>
    {{ partial "history.html" .Params.patinnen }}
  </details>

  <details name="Kommando">
    <summary>Obermaschinisten</summary>
    {{ partial "history.html" .Params.obermaschinisten }}
  </details>

  <details name="Kommando">
    <summary>Atemschutzbeauftragte</summary>
    {{ partial "history.html" .Params.atemschutzbeauftragte }}
  </details>

  <details name="Kommando">
    <summary>Gerätewarte</summary>
    {{ partial "history.html" .Params.geraetewarte }}
  </details>

  <details name="Kommando">
    <summary>Jugendbetreuer</summary>
    {{ partial "history.html" .Params.jugendbetreuer }}
  </details>
{{ end }}
